<%- include("header") %>
<h1 class="h3 mb-3 font-weight-normal date">
    <%=typeOfToDo%>
</h1>

<div class="forms-area form-signin">

    <form action="/delete" method="post">
    
        <% if (tasks.length > 0) { %>
            <% tasks.forEach(task => { %>
                <div class="task-container">
                    <input type="checkbox" name="checkbox" value="<%= task._id %>" onchange="this.form.submit()">
                    <p class="task" style="display: inline-block;"><%= task.description%></p>
                </div>
            <% }); %>
        <% } %>
    
    </form>
    
    
    <form action="/" method="post">
    
        <div class="input-container">
    
            <input type="text" name="taskInput" id="taskInput" placeholder="New Item" class="form-control" required
                autofocus autocomplete="off">
            <button class="btn btn-lg btn-primary btn-block" type="submit" name="list" value=<%=typeOfToDo%>>+</button>
    
        </div>
    
    
        <p class="mt-5 mb-3 text-muted">&copy; To-do List By Cristiano Napoleao</p>
        
</div>


</form>
<%- include("footer") %>